language: cpp

git:
  depth: false

os: linux
sudo: true

before_script:
  - export CC=clang
  - export CXX=clang++
  - curl -L https://github.com/satori-com/tcpkali/releases/download/v1.1.1/tcpkali-1.1.1.tar.gz -o "$HOME"/tcpkali.tar.gz
  - mkdir "$HOME"/tcpkali
  - tar xzf "$HOME"/tcpkali.tar.gz -C "$HOME/tcpkali" --strip-components=1
  - cd "$HOME"/tcpkali; ./configure; make

  - mkdir "$TRAVIS_BUILD_DIR/build" && cd "$TRAVIS_BUILD_DIR/build"
  - cp "$HOME"/tcpkali/src/tcpkali .

script:
  - cd "$TRAVIS_BUILD_DIR/build"
  - cmake -DCMAKE_BUILD_TYPE=Debug ..
  - cmake --build .
  - cp test/server .

  - ../test/kali_normal.sh 10

